body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(239, 240, 241);
}
body {
    font-family: circe;
    font-size: 102%;
}

.header {
    padding-bottom: 1.5%;
    border-bottom: 1px solid grey;
    margin: 1% 2%;
}

.scan {
    display: inline-block;
    padding: 1%;
    margin-left: 2%;
    margin-right: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 4px;
}
.scan:hover {
    cursor: pointer;
}

.c0 {
    background-color: rgb(152, 235, 144);
}
.c1 {
    background-color: rgb(226, 224, 90);
}
.c2 {
    background-color: rgba(249, 85, 85, 0.79);
}

.scan h4 {
    margin: 0;
}

.scansRow {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scansRow::-webkit-scrollbar {
    display: none;
}

.scanInfo {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    padding-top: 1.5%;
    border-top: 1px solid gray;
}
.scanInfo h4 {
    margin: 0;
}
.scanInfo .scanInfoInstance {
    padding: 1%;
    border-radius: 4px;
}